.react-flow__node-abstraTable {
    background-color: white;
    border-radius: 5px;
  }
  

  .react-flow__node.annotation .react-flow__handle {
    display: none;
  }
  
  .abstraTable-node__select {
    position: relative;
    margin-bottom: 10px;
  }
  
  .abstraTable-node__select select {
    width: 100%;
    margin-top: 5px;
    font-size: 10px;
  }
  
  .floatingedges {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 65vh;
  }
  
  .floatingedges .react-flow__handle {
    opacity: 0;
  }