
.hidden  {
    opacity: 0.3;
  } 


.viewport .links .link text {
    fill:transparent;
    font-size: 0.8rem;
}

.node {
    cursor: pointer;
}

.node circle{
    z-index:1050;
    position: relative;
    /* transition-duration: 0.5s; */
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 10); */

}

.show{
    fill:black !important;
}

/* .shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(0px 3px 5px  rgba(0,0,0,0.2));
  } */